@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif; /* Added font-family for style consistency */
}
